body{
    background-color: rgb(121, 86, 167);
    font-family:'Courier New', Courier, monospace
}
#cabecalho{
    font-size: 40px;
    color:white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;

}
a.menu{
    color:rgb(86, 162, 167);
    text-decoration: unset;
    font-size: 20px;
}
a.menu:hover{
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(86, 162, 167);
    text-align: justify ;
    padding-top: 4%;
    padding-bottom: 4%;
    color:white;
  }
#navbar{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
    padding-bottom: 1%;
    position: sticky;
    top: 0;
    background-color: white;
    outline-style: solid;
    outline-color: rgb(121, 86, 167);
    outline-width: 30px;   
}
#mais{
    text-align: center;
    display: flex;
    color:white;
    justify-content: space-evenly;
    margin-left: 30px;
    margin-right: 30px;
}
.m{
    text-align: center;
    color:white;
    padding-top: 3%
}
.img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    /* object fit cropa a imagem para caber no tamanho definido acima */
}
#aprender{
    background-color: rgb(255, 144, 101);
    width: 300px;
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center
}
#inspirar{
    background-color: rgb(255, 144, 101);
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    width: 300px;
    text-align: center
}
#informar{
    background-color: rgb(255, 140, 95);
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    width: 300px;
    text-align: center
}
.tag{
    color: rgb(255, 91, 27)
}
a.button{
    background-color: white;
    color:  rgb(255, 140, 95);
    width: 50%;
    border-radius: 12px;
    font-size: 16px;
    display: inline-block;
    text-decoration: unset;
}

a.button:hover{
    background-color: rgb(255, 140, 95); 
    color: white;
  }

.newDestaque1{
    background-color: rgb(255, 169, 136);
    padding-bottom: 8%;

    margin-bottom: 20px;
}
.newDestaque2{
    background-color: rgb(255, 169, 136);
    padding-bottom: 8%;

    margin-bottom: 20px;
}
#rodape{
    background-color: rgb(86, 162, 167);
    color: white;
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    margin-top: 30px;
}